.explore-item {
  width: 100%;

  &__image-link {
    overflow: hidden;
    display: block;
    margin-bottom: 24px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;

    .explore-item__image-link:hover & {
      transform: scale(1.05);
    }
  }

  &__title {
    margin: 0 0 4px;

    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    color: #d12d35;
    text-align: center;
  }

  &__text {
    margin: 0;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}
