.explore-online {
  @include constentPaddingInline;

  &__items {
    @include pageGrid;
    gap: 40px;
  }

  &__item {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }
    

    @include onDesktop {
      grid-column: span 4;
    }
  }
}
