.menu {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: 100dvh;

  font-weight: 700;
  text-transform: uppercase;

  background-color: #d12d35;

  &__top {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__contacts {
    margin-bottom: 32px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__location,
  &__phone-number {
    font-size: 16px;
    line-height: 27px;
    color: $main-text-color;
    text-decoration: none;
    letter-spacing: 0;
  }

  &__call-to-order {
    display: block;

    width: fit-content;
    margin-top: 16px;
    padding-bottom: 8px;

    font-size: 12px;
    line-height: 16px;
    color: $main-text-color;
    text-decoration: none;
    letter-spacing: 2px;
  }
}
