.page {
  scroll-behavior: smooth;

  font-family: Cinzel, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  color: #161616;

  &__body {
    min-width: 320px;
    margin: 0;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: all 0.3s ease;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}
